<p id="notice"><%= notice %></p>

<p>
  <strong>Student Name</strong>
  <%= @student.first_name %> <%= @student.last_name  %>
</p>

<p>
  <strong>Teacher</strong>
  <% @student.teachers.each do |t| %>
    <a href="<%= teacher_path(t.id) %>"><%= t.first_name %> <%= t.last_name %></a>
  <% end %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
